@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --movie-extraInfo: #111827;
  --movie-story: #6b7280;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
}
/* header of index.html */
header {
  position: relative;
}
.background-image {
  width: 100vw;
  height: 40vh;
  background: url(./headerBg.jpeg) repeat center center;
  background-size: contain;
  filter: brightness(30%);
}
.nav {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(10%, 0%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  width: 80%;
  height: 100%;
  margin: auto;
}
.nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
}
a.logo {
  font-size: 7rem;
  font-weight: 700;
}
a.watchlist-page {
  font-size: 2.4rem;
  cursor: pointer;
}
/* search container */
.search-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: auto;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;
  transform: translate(0, -50%);
}
.search-container input {
  width: 100%;
  padding: 1rem;
  border: none;
  border: 1px black grey;
}
.search-container input:focus {
  outline: none;

  border-bottom: 1px solid grey;
}
.search-container label {
  padding: 1rem 2rem;
  color: var(--dark);
}
/* not-found */
.not-found {
  text-align: center;
}
/* movie-component css */
section.movies-list,
.watch-list {
  max-width: 900px;
  margin: auto;
}

.movie-container {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;
}
.movie-poster {
  /* border: 1px solid red; */
  margin: 1rem;
}
.movie-poster img {
  /* width: 100%; */
  /* height: auto; */
  height: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 10px;
  width: auto;
}
.movie-info {
  margin: 1rem;
}
.movie-header {
  align-items: center;
}
.movie-heading {
  margin-right: 1rem;
}
.movie-rating {
  color: var(--movie-extraInfo);
}
.movie-extraInfo {
  /* align-items: center; */
  justify-content: space-between;
  margin: 1rem 0;
  color: var(--movie-extraInfo);
}
.movie-genre {
  margin: 0 3rem;
}
.movie-story {
  color: var(--movie-story);
}
.watchlist-button,
.remove-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--movie-extraInfo);
  background-color: white;
  color: var(--movie-extraInfo);
  font-weight: 700;
}
/* responsive design */
@media screen and (max-width: 800px) {
  a.logo {
    font-size: 3.2rem;
  }
  a.watchlist-page {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .movie-container {
    flex-direction: column;
  }
  .movie-poster img {
    width: 100%;
    max-height: none;
  }
  .search-container {
    width: 98vw;
  }
  .nav {
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
  }
  .movie-container {
    margin: 0.5rem;
    padding: 0rem;
  }
}
